.form .field-wrapper {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
}

.form fieldset {
  display: grid;
  grid-auto-flow: row;
  margin: 0;
  border: none;
  padding: 0;
}

.form form > .field-wrapper + .field-wrapper,
.form form fieldset .field-wrapper + .field-wrapper {
  margin-top: 24px;
}

.form form > .selection-wrapper + .selection-wrapper,
.form form fieldset .selection-wrapper + .selection-wrapper {
  margin-top: 0.25em;
}

form .heading-wrapper h2 {
  font-size: var(--heading-font-size-xl);
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 15px;
} 

form .heading-wrapper h2::after {
  border-bottom: 2px solid var(--brand-primary-color);
  content: "";
  display: block;
  padding-top: 8px;
  width: 84px;
}

form .plaintext-wrapper p {
  font-size: var(--body-font-size-m);
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  font-family: var(--heading-font-family);
}

.form form > .field-wrapper.text-wrapper {
  margin-top: 10px;
}

.form label,
.form fieldset > legend {
  margin-bottom: 0.25em;
  font-size: var(--body-font-size-s);
  font-weight: 700;
}

form .field-wrapper label {
  display: none;
}

@media (width >= 600px) {
  .form fieldset {
    grid-template-columns: repeat(2, auto);
    gap: 0.25em 24px;
  }

  .form form > .selection-wrapper + .selection-wrapper,
  .form form fieldset .field-wrapper + .field-wrapper,
  .form form fieldset .selection-wrapper + .selection-wrapper {
    margin-top: 0;
  }
}

@media (width >= 900px) {
  .form fieldset {
    grid-template-columns: repeat(3, auto);
  }

  .form input, 
  .form select, 
  .form textarea {
    height: 66px;
  }

  form .heading-wrapper h2 {
    font-size: var(--font-size-h1);
  }

  form .plaintext-wrapper p {
    font-size: var(--font-size-h4);
  }
}

.form .selection-wrapper label {
  margin: 0;
  font-weight: normal;
}

.form input,
.form select,
.form textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.5em 0.9em;
  border-radius: 4px;
  border: 1px solid var(--background-color-light);
  background-color: var(--background-color-hf);
  color: var(--background-color);
  font-size: var(--body-font-size-s);
  font-weight: 400;
  transition: border-color 0.2s;
  outline: 0;
}

.form textarea {
  resize: vertical;
}

.form input::placeholder,
.form textarea::placeholder {
  text-transform: uppercase;
  font-size: var(--body-font-size-s);
}

.form input:hover,
.form select:hover,
.form textarea:hover {
  border: 1px solid var(--background-color-light);
}

.form input:focus,
.form select:focus,
.form textarea:focus {
  outline: 0;
}

.form .selection-wrapper input {
  width: max-content;
}

.form .button {
  margin-top: 0;
  font-size: var(--body-font-size-m);
  padding: 0.5em 2.5em;
}

@media (width >= 600px) {
  .form input,
  .form select,
  .form textarea {
    max-width: 100%;
  }

  .form .button {
    max-width: max-content;
  }
}

@media (width >= 900px) {
  .form input,
  .form select,
  .form textarea {
    max-width: 100%;
  }
}

.form .field-wrapper.selection-wrapper {
  grid-auto-flow: column;
  justify-content: start;
  gap: 1ch;
}

.form label[data-required]::after {
  content: '*';
  color: firebrick;
  margin-inline-start: 1ch;
}

.form .toggle-wrapper .switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;
}

.form .toggle-wrapper input {
  opacity: 0;
  width: 52px;
  height: 28px;
}

.form .toggle-wrapper .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border-radius: 28px;
  background-color: var(--dark-color);
  transition: background-color 0.2s;
}

.form .toggle-wrapper .slider::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: var(--background-color);
  transition: transform 0.2s;
}

.form .toggle-wrapper input:checked + .slider {
  background-color: var(--link-color);
}

.form .toggle-wrapper input:focus + .slider {
  outline: 2px solid var(--link-color);
  outline-offset: 2px;
}

.form .toggle-wrapper input:checked + .slider::before {
  transform: translateX(24px);
}
