/* CSS */
.custom-list-container .default-content-wrapper h2 {
  font-weight: normal;
  font-size: var(--font-size-h3);
  margin-bottom: 30px;
}

.custom-list-container .default-content-wrapper h2::after {
  content: "";
  border-bottom: 2px solid var(--brand-primary-color);
  display: block;
  padding-top: 8px;
  width: 84px;
}

.custom-list-container .custom-list > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 20px;
}

.custom-list-container .custom-list > ul > li {
  background-color: var(--background-color);
}

.custom-list-container .custom-list .cards-card-body {
  margin: 0;
}

.custom-list-container .custom-list .cards-card-body .button-container {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.custom-list-container .custom-list .cards-card-body .button-container a {
  margin: 0;
  background-color: transparent;
  padding: 3px 0 0;
  color: var(--background-color-hf);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  font-weight: 600;
  text-transform: uppercase;
  overflow: initial;
  white-space: initial;
  text-align: initial;
  line-height: 1.5;
}

.custom-list-container .custom-list .cards-card-body p:nth-child(2) {
  color: dimgray;
  display: block;
  font-size: var(--body-font-size-sm);
  margin-top: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.custom-list-container .custom-list .cards-card-image {
  line-height: 0;
}

.custom-list-container .custom-list > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media (width >= 900px) {
    .custom-list-container .custom-list > ul {
      grid-gap: 24px;
    }

    .custom-list-container .custom-list .cards-card-body .button-container a {
      font-size: var(--body-font-size-m);
    }
    
    .custom-list-container .custom-list .cards-card-body p:nth-child(2) {
      font-size: var(--body-font-size-xs);
    }
}